extends layout

block content
    .hero-unit
        h1 Pairing stats
        p An app to track the pairing stats of the team.<br />
            | Full stack written exclusivly in javascript - Angular.js, node.js, data stored in mongoDB, web server driven through express.js, templating provided by jade, less for css creation.
